*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#signup-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
#signup-form{
    display: flex;
    flex-direction: column;
    row-gap:2vw ;
    align-items: center;
    width: 100%;
}