.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: black;
  }
  
  .modal-box {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .confirm-btn, .cancel-btn {
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .confirm-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .close-btn {
    position: absolute;
    top: 0.1rem;
    right: 0.2rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    height: 2vw;
    width: 2vw;
    background-color: rgb(118, 18, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-btn:hover {
    color: #000;
  }
  