.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-alert-box {
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 360px;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: scaleIn 0.25s ease;
}

.custom-alert-box p {
  font-size: 18px;
  color: #333;
  margin-bottom: 24px;
  line-height: 1.4;
}

.alert-login-btn {
  padding: 12px 28px;
  background: linear-gradient(to left, rgb(234, 191, 112),orange );
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 242, 254, 0.3);
}

.alert-login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 242, 254, 0.4);
}
.close-custom-alert{
  position: absolute;
  top: 37.5vh;
  right: 30vw;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  background-color: red;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
