#create-meal-container {
  max-width: 900px;
  margin: 40px auto;
  background: #fff;
  padding: 32px;
  border-radius: 24px;
  box-shadow: 0 12px 32px rgba(255, 165, 0, 0.2); /* ظل برتقالي */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-meal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 24px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group.full-width {
  grid-column: span 2;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

.create-meal-input {
  padding: 12px 16px;
  border: 2px solid #e3e3e3;
  border-radius: 16px;
  font-size: 15px;
  background: #f9f9f9;
  outline: none;
  transition: 0.3s ease;
}

.create-meal-input:focus {
  border-color: orange;
  background: #fff;
}

textarea.create-meal-input {
  resize: vertical;
  min-height: 80px;
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__textwrapper {
  font-weight: 500;
  color: #444;
}

.checkbox__trigger {
  display: none;
}

.checkbox__symbol {
  position: relative;
  width: 48px;
  height: 26px;
  background: #e0e0e0;
  border-radius: 999px;
  transition: background 0.3s ease;
}

.checkbox__symbol::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.checkbox__trigger:checked + .checkbox__symbol {
  background:orange ;
}

.checkbox__trigger:checked + .checkbox__symbol::before {
  transform: translateX(22px);
}


.file-upload-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 2px solid #e3e3e3;
  border-radius: 16px;
  background: #f9f9ff;
  color: #444;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  width: fit-content;
}

.file-upload-label:hover {
  background: #ece8ff;
  border-color: orange;
}

.file-upload-label svg {
  width: 20px;
  height: 20px;
  fill: orange
}

/* Submit Button */
.create-meal-btn {
  padding: 14px 24px;
  background: #0066a0;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-column: span 2;
  margin-top: 10px;
}

.create-meal-btn:hover {
  opacity: 0.9;
}

.create-meal-btn svg {
  width: 20px;
  height: 20px;
  fill: white;
}
