*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    

}
#home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0vh;
}
#home-background{
    width: 98.7vw;
    height: 100vh;
    opacity: 90%;
}
#planet{
 font-size: 1.5rem;
 color:#1E3A8A;
 position: absolute;
 top: 40vh;
 left: 10vw;


}
#planet span {
    color:orange;
    position: relative;
    display: inline-block;
  }
  #planet :last-child{
   font-family: "rum raisin";
   font-size: 3rem;
  }
  
#signup-links{
display: flex;
column-gap: 3vw;
position: absolute;
top: 80vh;
left: 5vw;
}
#signup-links > a{
    text-decoration: none;
    width: 12vw;
    height: 10vh;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
}
#client-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df7e17;
    color: white;
    
}
#rest-button{
    background-color: white;
    color: #1E3A8A;
    border: #1E3A8A 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ourmission{
    
    width: 95%;
    height: 80vh;
    display: flex;
    align-items: center;
    border: #1E3A8A 3px solid;
    justify-content: space-around;
    
}
#mission-typing{
    display: flex;
    flex-direction: column;
    width: 30vw;
    row-gap: 3vw;
    font-size: 1.2rem;
    color: #333;

}
#mission-typing>h3 {
    text-align: center;
    color: #f17d02;
}

#why-ecobites{
    width: 100%;
    display: grid; 
    grid-template-rows:4  5vh 10vh 10vh 5vh;
    grid-template-columns: 3 30vw 30vw    30vw;
    justify-content: center;
    align-items: center;
   color: #333;
    font-size: 1.4rem;
    margin-top: 7vh;
    row-gap: 3vh;
    column-gap: 1vw;
}
#title{
grid-column: 2;
grid-row: 1;
text-align: center;
font-family: "rum raisin";
color: #1E3A8A;
}

#top-left{
    grid-row:2;
    grid-column: 1;
    width: 30vw;
text-align: center;
}
#top-right{
    grid-row:2;
    grid-column: 3;
    width: 30vw;
text-align: center;
}

#mid-right{
    grid-row: 3;
    grid-column: 3;
}
#bottom-left{
    text-align: right;
    grid-row: 3;
    grid-column: 1;
}
#box-center{
    grid-row: 2/4;
    grid-column: 2;
background-color: #E9D9C3;
border-radius: 50%;
}
