* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#navbar {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    min-width: 98vw;
    background: #ffffff;
    
    border-bottom: 1px rgb(186, 182, 182) groove;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 3px 8px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s, opacity 0.5s;
}

nav ul li::after {
    content: "";
    background: #FFB15F;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
nav ul li a {
    text-decoration: none;
    color: #333333;
}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}
