#create-meal-container{

   
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
#create-meal-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 255, 0.26);
    z-index: 1;
    pointer-events: none;
  }

#create-meal-form{
    position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #000080;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  width: 50vw;
  min-width: 400px;
  padding: 20px;
  height: 80vh;
}
#create-meal-form>div {
    display: flex;
    justify-content: space-between;
}

.create-meal-input {
    width: 20vw;
    height: 44px;
    background-color: rgba(30, 58, 138, 0.2);
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 2px solid #1E3A8A;
    font-size: 1rem;
    transition: all 0.3s ease;
    
  }
  
  .create-meal-input-error {
    border-color: #ff4444;
  }
  
  .create-meal-label {
    font-size: 1rem;
    font-weight: bold;
    color: #05060f;
  }
  